<!--New-->
<span>
  <button
    mat-raised-button
    type="button"
    color="fdblue"
    *ngIf="params.data.invoice.stage === 'New'"
    (click)="goToEdit()"
    [matTooltip]="'Edit this invoice payment request'"
    [matTooltipPosition]="'above'"
    appDisabledForRole="Grower Accounting Read Only"
  >
  <mat-icon>edit</mat-icon>
  </button>
  <button
    mat-raised-button
    type="button"
    color="fdblue"
    *ngIf="params.data.invoice.stage !== 'New'"
    (click)="goToView()"
    [matTooltip]="'View this invoice payment request'"
    [matTooltipPosition]="'above'"
  >
  <mat-icon>visibility</mat-icon>
  </button>
  <button
  *ngIf="params.data.invoice.stage === 'New'"
    mat-raised-button
    type="button"
    color="warn"
    style="margin-left: 15px;"
    (click)="deleteInvoice()"
    [matTooltip]="'Delete this invoice'"
    [matTooltipPosition]="'above'"
    appDisabledForRole="Grower Accounting Read Only"
  >
  <mat-icon>delete</mat-icon>
  </button>
  <button
    mat-raised-button
    style="margin-left: 15px;"
    type="button"
    color="fdblue"
    *ngIf="params.data.invoice.stage.trim() === 'LPO Review'
    || params.data.invoice.stage.trim() === 'Accounting Approval'"
    (click)="sendReminder()"
  >
  <mat-icon>email</mat-icon>
    Send Reminder
  </button>
  <!-- <button
    style="margin-left: 15px;"
    mat-raised-button
    type="button"
    color="warn"
    (click)="deleteBatchModal = true"
    [matTooltip]="'Delete this settlement batch'"
    [matTooltipPosition]="'above'"
  >
  <mat-icon>delete</mat-icon>
    Delete
  </button> -->
</span>

<!--In Process-->

<!--
todo - add next stages
LPO Approved
Approved (Accounting Approved)
Posted
-->
