
  <!--show the header-->
  <div class="container-fluid">
    <div class="row">
      <!-- <mat-card class="wrap">
        <mat-card-header>
          <capx-header [moduleTitle]="this.pageTitle"></capx-header>
        </mat-card-header>
      </mat-card> -->
  
      <div class="col-md-12" style="margin-top:3px;">
        <div class="content">
          <div class="container-fluid">
            <div class="row" style="width: 100%;">
              <p class="page-title">
                {{pageTitle}}
              </p>
            </div>
            <div class="row" style="width: 100%;">
              <div class="col-xl-12">
                <div style="display: table">                  
                  <!--Loading gif-->
                  <div *ngIf="!transferFormLoaded || !currentGrowerLoaded || !toAccountsLoaded || !relatedGrowersLoaded" style="display: table-row">
                    Please wait while the page loads
                    <mat-progress-bar [ngStyle]="{'width.px' : innerWidth * 0.95 }" mode="indeterminate"></mat-progress-bar>
                  </div>        
                  
                  
                  <!--Main Form-->
                  <div  *ngIf="transferFormLoaded && currentGrowerLoaded && toAccountsLoaded && relatedGrowersLoaded" style="display: table-row; margin-top: 50px;">
                    <form [formGroup]="transferForm">
                      
                      <div class="row" [ngStyle]="{'width.px' : innerWidth * 0.95 }">                          
                        <div class="col-md-3">
                          <div style="display: table" [formGroup]="transferForm" >
                            <mat-form-field appearance="outline" style="width: 250px;">
                              <mat-label>To Grower</mat-label>
                              <input type="text" name="ToGrower" matInput placeholder="To Grower" formControlName="ToGrower"  >
                            </mat-form-field>  
                          </div>
                        </div>                          
                      
                        <div class="col-md-2">
                          <div style="display: table" [formGroup]="transferForm" >
                            <mat-form-field appearance="outline" >
                              <mat-label>To Account</mat-label>
                              <mat-select formControlName="ToGrowerAccount" placeholder="To Account" (selectionChange)="onToAccountChange($event)" > 
                                <mat-option *ngFor="let account of toAccounts" [value]="account.id" >
                                  {{getAccountTypeString(account.accountType) + ' - ' + account.accountSuffix}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>  
                          </div>
                        </div>                          
                      
                        <div class="col-md-2">
                          <div style="display: table" [formGroup]="transferForm" >
                            <mat-form-field appearance="outline">
                              <mat-label>To Account Balance</mat-label>
                              <input type="text" currencyMask name="ToAccountBalance" matInput placeholder="To Account Balance" formControlName="ToAccountBalance"  >
                            </mat-form-field>  
                          </div>
                        </div>                                                 
                      </div>
                      <div class="row" [ngStyle]="{'width.px' : innerWidth * 0.95 }">                          
                        <div class="col-md-3">
                          <div style="display: table" [formGroup]="transferForm" >
                            <mat-form-field appearance="outline" style="width: 250px;">
                              <mat-label>From Grower</mat-label>
                              <mat-select formControlName="FromGrower" placeholder="From Grower" (selectionChange)="onFromGrowerChange($event)" > 
                                <mat-option *ngFor="let grower of relatedGrowers" [value]="grower.id" >
                                  {{ grower.id + ' - ' + grower.farmName }}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>  
                            
                          </div>
                        </div>                          
                      
                        <div class="col-md-2">
                          <div style="display: table" [formGroup]="transferForm" >
                            <mat-form-field appearance="outline">
                              <mat-label>From Account</mat-label>
                              <mat-select formControlName="FromGrowerAccount" placeholder="From Account" (selectionChange)="onFromAccountChange($event)" > 
                                <mat-option *ngFor="let account of fromAccounts" [value]="account.id" >
                                  {{getAccountTypeString(account.accountType) + ' - ' + account.accountSuffix}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>  
                          </div>
                        </div>                          
                      
                        <div class="col-md-2">
                          <div style="display: table" [formGroup]="transferForm" >
                            <mat-form-field appearance="outline">
                              <mat-label>From Account Balance</mat-label>
                              <input type="text" currencyMask name="FromAccountBalance" matInput placeholder="From Account Balance" formControlName="FromAccountBalance"  >
                            </mat-form-field>  
                          </div>
                        </div>                          
                      </div>
                      <div class="row" [ngStyle]="{'width.px' : innerWidth * 0.95 }">                          
                        <div class="col-md-2">
                          <button
                            mat-raised-button
                            type="button"
                            color="fdblue"
                            style="margin-bottom: 15px;"
                            (click)="searchUnrelatedGrowerModal = true"
                          >
                          <mat-icon>search</mat-icon>
                            Choose Unrelated Grower
                          </button>
                        </div>
                      </div>
                      
                      <div class="row" [ngStyle]="{'width.px' : innerWidth * 0.95 }">                          
                        <div class="col-md-2">
                          <div style="display: table" [formGroup]="transferForm" >
                            <mat-form-field appearance="outline">
                              <mat-label>Date</mat-label>
                              <input name="Date" formControlName="Date"   placeholder="Date"   matInput [matDatepicker]="picker" />
                              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                              <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>  
                          </div>
                        </div>                          
                      </div>


                      <div class="row" [ngStyle]="{'width.px' : innerWidth * 0.95 }">                          
                        <div class="col-md-2">
                          <div style="display: table" [formGroup]="transferForm" >
                            <mat-form-field appearance="outline"  style="width: 300px;">
                              <mat-label>Description</mat-label>
                              <input type="text" name="Description" matInput placeholder="Description" formControlName="Description"  >
                            </mat-form-field>  
                          </div>
                        </div>                          
                      </div>
                      <div class="row" [ngStyle]="{'width.px' : innerWidth * 0.95 }">                          
                        <div class="col-md-2">
                          <div style="display: table" [formGroup]="transferForm" >
                            <mat-form-field appearance="outline">
                              <mat-label>Amount</mat-label>
                              <input type="text" currencyMask name="Amount" matInput placeholder="Amount" formControlName="Amount"  >
                            </mat-form-field>  
                          </div>
                        </div>                          
                      </div>
                    </form>
                  </div>
                  <!--Submit Button-->
                  <div *ngIf="transferFormLoaded && currentGrowerLoaded && toAccountsLoaded && relatedGrowersLoaded" style="display: table-row; margin-top: 30px;">
                    <button
                      mat-raised-button
                      type="button"
                      color="warn"
                      (click)="returnHome()"
                    >
                    <mat-icon>undo</mat-icon>
                      Return to Account Maintenance
                    </button>
                    <button
                      mat-raised-button
                      type="button"
                      color="fdblue"
                      style="margin-left: 10px;"
                      [disabled]="!transferForm.valid || blockSubmit"
                      (click)="submitTransfer()"
                    >
                    <mat-icon>send</mat-icon>
                      Submit
                    </button>
                  </div>  

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  


<!--unrelated grower transfer-->
<div class="example-wrapper">
  <kendo-dialog
    *ngIf="searchUnrelatedGrowerModal"
    (close)="searchUnrelatedGrowerModal = false"
    [minWidth]="250"
    [width]="innerWidth * 0.8"
    [height]="innerHeight * 0.85"
  >
    <kendo-dialog-titlebar
      style="background-color: RGB(0, 74, 138); color: white; font-size: 18px;"
    >
      <div
        style="font-size: 18px; line-height: 1.3em; color: white !important;"
      >
        <span class="k-icon k-i-notification"></span> Select Unrelated Grower
      </div>
    </kendo-dialog-titlebar>
    <div style="margin-top: 15px;">
      <app-grower-selection-panel
        [widthpx]="innerWidth * 0.7"
        [heightpx]="innerHeight * 0.55"
        [startingId]="0"
        [lock]="false"
        [showAllGrowers]="false"
        [hideSelectAnother]="false"
        [filterIds]="filterIds"
        [settlementsOnly]="false"
        (growerSelectedEvent)="onGrowerSelected($event)"
      >
      </app-grower-selection-panel>

    </div>
      

    
    <kendo-dialog-actions>
      <button
      mat-raised-button
      color="warn"
      style="width: 100% !important;"
      (click)="searchUnrelatedGrowerModal = false"
    >
      Cancel
    </button>
    <!-- <button
      mat-raised-button
      color="primary"
      style="width: 50% !important;"
      (click)="archiveGrower()"
    >
      
    </button> -->
    </kendo-dialog-actions>
  </kendo-dialog>
</div>