
<!--show the header-->
<div class="container-fluid">
  <div class="row">
    <!-- <mat-card class="wrap">
      <mat-card-header>
        <capx-header [moduleTitle]="this.pageTitle"></capx-header>
      </mat-card-header>
    </mat-card> -->

    <div class="col-md-12" style="margin-top:3px;">
      <div class="content">
        <div class="container-fluid">
          <div class="row" style="width: 100%;">
            <p class="page-title">
              {{pageTitle}}
            </p>
          </div>
          <div class="row" [ngStyle]="{'width.px' : innerWidth * 0.99 }">
            <div class="col-md-12">
              <div style="display: table">                  
                <!--Loading gif-->
                <div *ngIf="!contactsLoaded"  style="display: table-row">
                  Please wait while the contact list loads
                  <mat-progress-bar [ngStyle]="{'width.px' : innerWidth * 0.95 }" mode="indeterminate"></mat-progress-bar>
                </div>        
                <div *ngIf="contactsLoaded" style="display: table-row;">
                  <span style=" margin-left: 15px;">Use the following fields if you wish to add a new approver</span>
                </div>
                <form [formGroup]="newApproverForm">
                  <div *ngIf="contactsLoaded" style="display: table-row;" [ngStyle]="{'width.px' : innerWidth * 0.95 }">
                    <div style="display: row" [ngStyle]="{'width.px' : innerWidth * 0.95 }">
                      
                        <div class="col-md-4">
                          <div style="display: table">
                            
                              <mat-form-field appearance="outline" style="width: 300px;">
                                <mat-label>Name</mat-label>
                                <input
                                  type="text"
                                  placeholder="Name"
                                  aria-label="string"
                                  matInput
                                  formControlName="Name"
                                  [(ngModel)]="Name"
                                  [matAutocomplete]="auto"
                                />
                                <mat-autocomplete
                                  autoActiveFirstOption
                                  (opened)="userAutocompleteOpen($event)"
                                  (optionSelected)="userAutocompleteSelected($event)"
                                  #auto="matAutocomplete"
                                  style="width: 300px !important; z-index: 9999999 !important;"
                                >
                                  <mat-option
                                    *ngFor="let user of filteredUserList | async"
                                    [value]="user.firstName + ' ' + user.lastName"
                                  >
                                    {{ user.firstName + ' ' + user.lastName }}
                                  </mat-option>
                                </mat-autocomplete>
                              </mat-form-field> 
                            
                          </div>
                          
                        </div>
                        <div class="col-md-4">
                          <div style="display: table">
                            <mat-form-field appearance="outline" style="width: 250px;">
                              <mat-label>Stage</mat-label>
                              <mat-select formControlName="Stage" placeholder="Stage" > 
                                <mat-option [value]="'LPO Review'">LPO Approval</mat-option>
                                <mat-option [value]="'Accounting Approval'">Accounting Approval</mat-option>
                                <mat-option [value]="'Invoice Processing'">Invoice Processing</mat-option>
                              </mat-select>
                            </mat-form-field> 
                          </div>
                        </div>
                    </div>
                  </div>
                </form>
                
                
                <div *ngIf="contactsLoaded" style="display: table-row" >
                  <button 
                    style=" margin-left: 15px;"
                    mat-raised-button
                    type="button"
                    color="fdblue" 
                    [disabled]="!newApproverForm.valid"
                    (click)="submitApprover()"
                    [matTooltip]="'Add a new approver to the Invoice Approval Workflow'"
                    [matTooltipPosition]="'above'"
                  >
                  <mat-icon>add</mat-icon>
                    Add New Approver
                  </button>
                </div>
                

                <!--Account list -->
                <div *ngIf="contactsLoaded" style="display: table-row" >
                  <ag-grid-angular 
                    #agGrid 
                    [ngStyle]="{'width.px':innerWidth * 0.95, 'height.px': innerHeight - 325 }"
                    class="ag-theme-material"
                    [rowData]="contacts" 
                    [columnDefs]="columnDefs"
                    (gridReady)="onGridReady($event)"
                    (rowDataUpdated)="onCellValueChange($event)"
                    [frameworkComponents]="frameworkComponents"
                    [floatingFilter]="true"
                    [embedFullWidthRows]="true"
                    [animateRows]="true"
                    [suppressHorizontalScroll]="true"
                    [pagination]="true"
                    [paginationAutoPageSize]="true"
                    [modules]="modules">
                  </ag-grid-angular>
                </div>         

                
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="example-wrapper">
  <kendo-dialog
    *ngIf="newApproverModal"
    (close)="newApproverModal = false"
    [minWidth]="425"
    [width]="425"
    [height]="250"
  >
    <kendo-dialog-titlebar
      style="background-color: RGB(0, 74, 138); color: white; font-size: 18px;"
    >
      <div
        style="font-size: 18px; line-height: 1.3em; color: white !important;"
      >
        <span class="k-icon k-i-notification"></span> New Approver
      </div>
    </kendo-dialog-titlebar>
    <p>&nbsp;</p>
    
    

    
    <kendo-dialog-actions>
      <button
      mat-raised-button
      color="warn"
      style="width: 50% !important;"
      (click)="newApproverModal = false"
    >
      Cancel
    </button>
    <button
      mat-raised-button
      color="primary"
      [disabled]="submittedPost"
      style="width: 50% !important;"
      (click)="submitNewApprover()"
    >
      <mat-spinner
        *ngIf="submittedPost"
        [diameter]="35"
        style="float:right;"
      ></mat-spinner>
      Add Approver
    </button>
    </kendo-dialog-actions>
  </kendo-dialog>
</div>